@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #181818;
}

a {
  text-decoration: none;
  color: #181818;
}

.button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: none;
  color: #181818;
  border: 2px solid #181818;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 2s;
}
.button:hover {
  color: #FFFFFF;
  background: #444444;
  border: 1px solid #444444;
}

select {
  display: block;
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  padding: 12px 16px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  color: #808080;
  appearance: none;
  background: url("../icons/arrow.svg") no-repeat;
  background-position: top 20px right 18px;
  cursor: pointer;
}

option {
  color: #181818;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F1F1F1;
  border-radius: 1000px;
}
.icon img {
  transition-duration: 1.5s;
}
.icon img:hover {
  transform: rotate(360deg);
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  text-align: center;
}

header {
  padding: 60px 0;
}
header .container {
  position: relative;
}
header .container .header__nav {
  display: grid;
  grid-template-columns: 113px 1fr 113px;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 120px;
}
header .container .header__nav .header__logo {
  padding: 4px 8px;
  border: 2px solid #181818;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  transition-duration: 1s;
}
header .container .header__nav .header__logo:hover {
  transform: scale(1.1);
}
header .container .header__nav nav {
  display: flex;
  justify-content: center;
  gap: 32px;
  font-weight: 500;
}
header .container .header__nav nav a {
  display: block;
  transition-duration: 1s;
}
header .container .header__nav nav a:hover {
  transform: scale(1.2);
}
header .container .header__icon_programmer {
  width: 170px;
  height: 170px;
  top: 0;
  right: 0;
}
header .container .header__icon_programmer img {
  width: 110px;
  height: 110px;
}
header .container .header__title {
  margin: 0 auto;
}
header .container .header__text {
  width: 484px;
  margin: 40px auto 120px;
  text-align: center;
}
header .container .header__icon_message {
  width: 64px;
  height: 64px;
  bottom: 100px;
  left: 0;
}
header .container .header__icon_message img {
  width: 28px;
  height: 24px;
}
header .container .header__icon_lightning {
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 50px;
}
header .container .header__icon_lightning img {
  width: 40px;
  height: 40px;
}
header .container .header__links {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
}
header .container .header__links .header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 56px;
  border: 2px solid #181818;
  border-radius: 8px;
  font-weight: 600;
  transition-duration: 1s;
}
header .container .header__links .header__link:hover {
  transform: scale(1.05);
}
header .container .header__links .header__link.header__link_telegram {
  background: #181818;
  color: #FFFFFF;
}
header .container .header__links .header__link.header__link_portfolio {
  gap: 12px;
}
header .container .header__links .header__link.header__link_portfolio img {
  width: 24px;
  height: 24px;
}

.projects {
  padding: 60px 0;
}
.projects .projects__nav {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 40px;
  font-weight: 600;
}
.projects .projects__nav .projects__nav__button {
  padding: 4px 16px;
  border: 1px solid #181818;
  border-radius: 1000px;
}
.projects .projects__nav .projects__nav__button.projects__nav__button_active {
  background: #181818;
  color: #FFFFFF;
}
.projects .projects__nav .projects__nav__button:hover {
  color: #FFFFFF;
  background: #444444;
  border: 1px solid #444444;
}
.projects .projects__gallery {
  display: grid;
  grid-template-areas: "strizhi strizhi" "watchman ermitazh" "neptune neptune" "statistics furniture";
  gap: 40px;
}
.projects .projects__gallery a {
  transition-duration: 1s;
}
.projects .projects__gallery a:hover {
  transform: scale(1.1);
}
.projects .projects__gallery a:nth-child(1) {
  grid-area: strizhi;
}
.projects .projects__gallery a:nth-child(2) {
  grid-area: watchman;
}
.projects .projects__gallery a:nth-child(3) {
  grid-area: ermitazh;
}
.projects .projects__gallery a:nth-child(4) {
  grid-area: neptune;
}
.projects .projects__gallery a:nth-child(5) {
  grid-area: statistics;
}
.projects .projects__gallery a:nth-child(6) {
  grid-area: furniture;
}
.projects .projects__gallery img {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
}

.about-me {
  padding: 60px 0 120px;
}
.about-me .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
}
.about-me .container .about-me__icon {
  width: 100px;
  height: 100px;
  bottom: -25px;
  left: 100px;
}
.about-me .container .about-me__icon img {
  width: 40px;
  height: 40px;
}
.about-me .container .about-me__image {
  width: 400px;
  border-radius: 24px;
  transition-duration: 1s;
}
.about-me .container .about-me__image:hover {
  border-radius: 80px;
}
.about-me .container .about-me__info {
  width: 425px;
}
.about-me .container .about-me__title {
  margin: 0 0 24px;
  text-align: left;
}
.about-me .container .about-me__text {
  margin-bottom: 64px;
}
.about-me .container .about-me__list {
  display: flex;
  gap: 64px;
}
.about-me .container .about-me__list__item__title {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 24px;
}

.services {
  padding: 120px 0;
  background: #181818;
}
.services .services__title {
  margin: 0 0 80px;
  color: #FFFFFF;
}
.services .services__cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.services .services__cards.services__cards_two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.services .services__cards .services__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  padding: 40px;
  box-sizing: border-box;
  background: #FFFFFF;
  color: #181818;
  border-radius: 16px;
}
.services .services__cards .services__card .services__card__number {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.5;
}
.services .services__cards .services__card .services__card__title {
  margin: 8px 0 16px;
  font-weight: 600;
  font-size: 20px;
}
.services .services__cards .services__card .services__card__text {
  margin: 16px 0 0;
}
.services .services__cards .services__card .services__card__line {
  width: 80px;
  height: 2px;
  margin: 56px 0;
  background: #181818;
  opacity: 0.2;
}
.services .services__cards .services__card .services__card__price {
  margin: 56px 0 0;
  font-weight: 600;
  font-size: 24px;
}

.price {
  padding: 120px 0;
}
.price .container {
  position: relative;
}
.price .container .price__title {
  margin: 0 0 80px;
  text-align: center;
  color: #181818;
}
.price .container .price__icon_clock {
  width: 100px;
  height: 100px;
  top: 100px;
  left: 0;
}
.price .container .price__icon_clock img {
  width: 40px;
  height: 40px;
}
.price .container .price__icon_programmer {
  width: 170px;
  height: 170px;
  top: 250px;
  right: 0;
}
.price .container .price__icon_programmer img {
  width: 110px;
  height: 110px;
}
.price .container .price__form {
  width: 448px;
  margin: 0 auto;
  padding: 40px 24px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
}
.price .container .price__form .price__form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 40px;
  cursor: pointer;
}
.price .container .price__form .price__form__checkbox:hover .checkmark {
  border-color: #69CB39;
}
.price .container .price__form .price__form__checkbox input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.price .container .price__form .price__form__checkbox input:checked ~ .checkmark {
  background-color: #181818;
  border-color: #181818;
}
.price .container .price__form .price__form__checkbox input:checked ~ .checkmark::after {
  display: block;
}
.price .container .price__form .price__form__checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.price .container .price__form .price__form__checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.price .container .price__form .price__form__button {
  width: 100%;
  height: 56px;
  padding: 15px 24px 17px;
}
.price .container .price__result {
  width: 400px;
  max-height: 0;
  margin: 0 auto;
  padding: 40px 24px;
  border: 1px solid #CCCCCC;
  border-radius: 0px 0px 16px 16px;
  overflow: hidden;
  opacity: 0;
  transition-duration: 2s;
}
.price .container .price__result.price__result_active {
  max-height: 1000px;
  opacity: 1;
}
.price .container .price__result .price__result__title {
  margin: 0 0 24px;
  font-size: 32px;
}
.price .container .price__result .price__result__parameter {
  margin: 24px 0;
}
.price .container .price__result .price__result__parameter .price__reult__parameter__title {
  margin: 0;
}
.price .container .price__result .price__result__parameter .price__result__parameter__value {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.price .container .price__result .price__result__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background: #181818;
  color: #FFFFFF;
}
.price .container .price__result .price__result__button:hover {
  background: #444444;
}

.qna {
  padding: 120px 0;
  background: #181818;
}
.qna .qna__title {
  margin: 0 0 80px;
  color: #FFFFFF;
}
.qna .qna__cards {
  display: grid;
  gap: 16px;
}
.qna .qna__cards .qna__card {
  padding: 32px 40px;
  background: #FFFFFF;
  border: 1px solid #181818;
  border-radius: 16px;
  cursor: pointer;
}
.qna .qna__cards .qna__card .qna__card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qna .qna__cards .qna__card .qna__card__title h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.qna .qna__cards .qna__card .qna__card__button {
  width: 16px;
  height: 16px;
  transition-duration: 0.5s;
}
.qna .qna__cards .qna__card .qna__card__button.qna__card__button_opened {
  transform: rotate(45deg);
}
.qna .qna__cards .qna__card .qna__card__text {
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  transition-duration: 0.5s;
}
.qna .qna__cards .qna__card .qna__card__text.qna__card__text_opened {
  max-height: 1000px;
  margin-top: 24px;
  transition-duration: 3s;
}
.qna .qna__cards .qna__card .qna__card__list {
  margin: 0;
  padding: 0;
}
.qna .qna__cards .qna__card .qna__card__list .qna__card__list__item {
  margin-left: 30px;
}

.feedback {
  padding: 120px 0 160px;
}
.feedback .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback .container .feedback__title {
  margin: 0 0 8px;
}
.feedback .container .feedback__text {
  margin: 0 0 80px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.feedback .container .feedback__icon_lightning {
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
}
.feedback .container .feedback__icon_lightning img {
  width: 40px;
  height: 40px;
}
.feedback .container .feedback__icon_programmer {
  width: 170px;
  height: 170px;
  right: 0;
  bottom: 200px;
}
.feedback .container .feedback__icon_programmer img {
  width: 110px;
  height: 110px;
}
.feedback .container .feedback__icon_message {
  width: 140px;
  height: 140px;
  bottom: 50px;
  left: 0;
}
.feedback .container .feedback__icon_message img {
  width: 56px;
  height: 48px;
}
.feedback .container .feedback__form-container {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  justify-items: center;
  gap: 40px;
}
.feedback .container .feedback__form-container .feedback__form {
  grid-column: 2;
  width: 448px;
  padding: 40px 24px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
}
.feedback .container .feedback__form-container .feedback__form input {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  padding: 12px 16px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}
.feedback .container .feedback__form-container .feedback__form textarea {
  display: block;
  width: 100%;
  height: 160px;
  margin-bottom: 40px;
  padding: 12px 16px;
  box-sizing: border-box;
  resize: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}
.feedback .container .feedback__form-container .feedback__form .feedback__form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background: #181818;
  color: #FFFFFF;
}
.feedback .container .feedback__form-container .feedback__form .feedback__form__button:hover {
  background: #444444;
}
.feedback .container .feedback__form-container .feedback__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.feedback .container .feedback__form-container .feedback__social img {
  width: 30px;
  transition-duration: 1s;
}
.feedback .container .feedback__form-container .feedback__social img:hover {
  transform: scale(1.5);
}

@media (max-width: 1200px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .icon {
    transform: scale(0.75);
  }
  .about-me .container .about-me__icon {
    left: 0;
  }
  .services .container .services__cards {
    gap: 15px;
  }
  .services .container .services__cards .services__card {
    padding: 20px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .icon {
    display: none;
  }
  header {
    padding: 30px 0;
  }
  header .container .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  header .container .header__text {
    margin-bottom: 45px;
  }
  .projects {
    padding: 30px 0;
  }
  .about-me {
    padding: 30px 0;
  }
  .about-me .container {
    flex-direction: column-reverse;
  }
  .about-me .container .about-me__image {
    width: 70%;
  }
  .about-me .container .about-me__info {
    width: 70%;
  }
  .about-me .container .about-me__info .about-me__title {
    font-size: 24px;
    line-height: 24px;
  }
  .about-me .container .about-me__info .about-me__text {
    margin-bottom: 32px;
  }
  .services {
    padding: 30px 0;
  }
  .services .container .services__title {
    margin-bottom: 30px;
  }
  .services .container .services__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services .container .services__cards .services__card {
    padding: 40px;
  }
  .price {
    padding: 30px 0;
  }
  .price .container .price__title {
    margin-bottom: 30px;
  }
  .qna {
    padding: 30px 0;
  }
  .qna .container .qna__title {
    margin-bottom: 30px;
  }
  .qna .container .qna__cards .qna__card {
    padding: 16px 20px;
  }
  .feedback {
    padding: 30px 0;
  }
  .feedback .container .feedback__text {
    margin-bottom: 30px;
  }
  .feedback .container .feedback__form-container {
    display: flex;
    flex-direction: column;
  }
  .feedback .container .feedback__form-container .feedback__social {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 576px) {
  .container {
    width: 95%;
  }
  header .container .header__nav .header__logo {
    font-size: 12px;
    line-height: 16px;
  }
  header .container .header__nav nav {
    align-items: center;
    gap: 15px;
    font-size: 12px;
  }
  header .container .header__text {
    width: 300px;
  }
  header .container .header__links {
    flex-direction: column;
    align-items: center;
  }
  .projects .container .projects__nav {
    flex-direction: column;
  }
  .projects .container .projects__gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .services .container .services__cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services .container .services__cards .services__card {
    width: 100%;
  }
  .price .container .price__form {
    width: 100%;
  }
  .price .container .price__result {
    width: 90%;
  }
  .feedback .container .feedback__form-container {
    width: 100%;
  }
  .feedback .container .feedback__form-container .feedback__form {
    width: 100%;
  }
}