{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Борисов ОШ</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/animate.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="header__nav animate__animated animate__bounceInDown wow">
                <a href="/" class="header__logo">Developer</a>
                <nav>
                    <a href="#projects">Работы</a>
                    <a href="#services">Услуги</a>
                    <a href="#about-me">Обо мне</a>
                    <a href="#contacts">Контакты</a>
                </nav>
            </div>
            <div class="icon header__icon_programmer animate__animated animate__zoomIn animate__delay-3s wow">
                <img src="{% static 'main/icons/programmer.svg' %}" alt="Программист">
            </div>
            <h1 class="title header__title animate__animated animate__backInDown animate__delay-1s wow">Сайты на Тильде, которые<br>
                убеждают и продают</h1>
            <p class="header__text animate__animated animate__backInUp animate__delay-1s wow">Изучаем ваш бизнес. Узнаем, что важно клиентам,<br>
                как вызвать доверие и довести до заявки или покупки</p>  
            <div class="icon header__icon_message animate__animated animate__zoomIn animate__delay-3s wow">
                <img src="{% static 'main/icons/message.svg' %}" alt="Сообщение">
            </div>
            <div class="icon header__icon_lightning animate__animated animate__zoomIn animate__delay-3s wow">
                <img src="{% static 'main/icons/lightning.svg' %}" alt="Молния"> 
            </div>
            <div class="header__links">
                <a href="https://t.me/artyom_bor1sov" class="header__link header__link_telegram animate__animated animate__lightSpeedInLeft animate__delay-1s wow">Связаться в Telegram</a>
                <a href="#" class="header__link header__link_portfolio animate__animated animate__lightSpeedInRight animate__delay-1s wow">
                    <img src="{% static 'main/icons/play.svg' %}" alt="Play">
                    Видеопортфолио
                </a>
            </div>
        </div>
    </header>

    <a name="projects"></a>
    <section class="projects">
        <div class="container">
            <div class="projects__nav animate__animated animate__fadeInDown wow">
                <button class="button projects__nav__button projects__nav__button_active">Все</button>
                <button class="button projects__nav__button">Сайт под ключ</button>
                <button class="button projects__nav__button">Разработка</button>
                <button class="button projects__nav__button">Дизайн</button>
            </div>
            <div class="projects__gallery">
                <a href="https://strizhi.estate"><img src="{% static 'main/img/strizhi.jpg' %}" alt="Стрижи" class="animate__animated animate__fadeIn wow"></a>
                <a href="#"><img src="{% static 'main/img/watchman.jpg' %}" alt="Watchman" class="animate__animated animate__fadeIn wow"></a>
                <a href="#"><img src="{% static 'main/img/ermitazh.jpg' %}" alt="Эрмитаж" class="animate__animated animate__fadeIn wow"></a>
                <a href="#"><img src="{% static 'main/img/neptune.jpg' %}" alt="Нептун" class="animate__animated animate__fadeIn wow"></a>
                <a href="#"><img src="{% static 'main/img/statistic.jpg' %}" alt="Статистика" class="animate__animated animate__fadeIn wow"></a>
                <a href="#"><img src="{% static 'main/img/furniture.jpg' %}" alt="Мебель" class="animate__animated animate__fadeIn wow"></a>
            </div>
        </div>
    </section>

    <a name="about-me"></a>
    <section class="about-me">
        <div class="container">
            <div class="icon about-me__icon  animate__animated animate__zoomIn animate__delay-1s wow">
                <img src="{% static 'main/icons/cup.svg' %}" alt="Трофей">
            </div>
            <img src="{% static 'main/img/me.jpg' %}" alt="Моя фотография" class="about-me__image animate__animated animate__fadeInLeftBig wow">
            <div class="about-me__info animate__animated animate__fadeInRightBig wow">
                <h2 class="title about-me__title">Начинающий веб-разработчик</h2>
                <p class="about-me__text">Меня зовут Артём. Я интересуюсь веб-разработкой и планирую добиться 
                    в ней больших успехов!<br>
                    <br>
                    Люблю программировать и создавать что-то красивое, поэтому я решил начать разрабатывать сайты 
                    и хочу развиваться в этом направлении (по этой же причине даже сменил направление обучения 
                    в университете).<br>
                    <br>
                    Приятно познакомиться, возможно, мы еще поработаем в одной команде!</p>
                <div class="about-me__list">
                    <div class="about-me__list__item">
                        <h3 class="about-me__list__item__title">100%</h3>
                        <p class="about-me__list__item__text">Желания<br>
                        имеется</p>
                    </div>
                    <div class="about-me__list__item">
                        <h3 class="about-me__list__item__title">0</h3>
                        <p class="about-me__list__item__text">Проектов<br>
                        (пока что)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a name="services"></a>
    <section class="services">
        <div class="container">
            <h2 class="title services__title animate__animated animate__flipInX wow">Услуги</h2>
            <div class="services__cards">
                {% for element in services %}
                    <div class="services__card animate__animated animate__fadeInUp wow">
                        <div>
                            <p class="services__card__number">0{{forloop.counter}}</p>
                            <h3 class="services__card__title">{{element.title}}</h3>
                            <p class="services__card__text">{{element.description}}</p>
                        </div>
                        <div>
                            <hr class="services__card__line">
                            <p class="services__card__price">От {{element.price}} ₽</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="price">
        <div class="container">
            <h2 class="title price__title  animate__animated animate__flipInX wow">Подсчет стоимости</h2>
            <div class="icon price__icon_clock animate__animated animate__zoomIn wow">
                <img src="{% static 'main/icons/clock.svg '%}" alt="Часы">
            </div>
            <div class="icon price__icon_programmer animate__animated animate__zoomIn wow">
                <img src="{% static 'main/icons/programmer.svg' %}" alt="Программист">
            </div>
            <form method="post" class="price__form animate__animated animate__fadeIn wow">
                {% csrf_token %}
                {{ price_form.project }}
                {{ price_form.size }}
                <label class="price__form__checkbox">Да, я слышал про осеннюю школу.<br>
                    Интересно а после нее будет егэ?
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <button type="submit" name="price_button" class="button price__form__button">Рассчитать стоимость</button>
            </form>
            <div class="price__result">
                <h3 class="title price__result__title">Примерный подсчет:</h3>
                <div class="price__result__parameter">
                    <p class="price__result__parameter__title">Стоимость</p>
                    <p class="price__result__parameter__value"><span class="price__value">AA</span> ₽</p>
                </div>
                <div class="price__result__parameter">
                    <p class="price__result__parameter__title">Примерные сроки</p>
                    <p class="price__result__parameter__value"><span class="duration__value"></span> рабочих дней</p>
                </div>
                <button class="button price__result__button">Обсудить проект</button>
            </div>
        </div>
    </section>

    <section class="qna">
        <div class="container">
            <h2 class="title qna__title animate__animated animate__flipInX wow">Вопрос-ответ</h2>
            <div class="qna__cards">
                <div class="qna__card animate__animated animate__fadeIn wow">
                    <div class="qna__card__title">
                        <h3>Делаете только дизайн?</h3>
                        <img src="{% static 'main/icons/plus.svg' %}" alt="Подробнее" class="qna__card__button">
                    </div>
                    <div class="qna__card__text">
                        <p>Тильда уже давно перестала быть просто конструктором. Сейчас на 
                            платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.<br>
                            <br>
                            А еще:</p>
                        <ul class="qna__card__list">
                            <li class="qna__card__list__item">Не нужен программист, тильдой легко управлять</li>
                            <li class="qna__card__list__item">Можно менять контент самому без помощи специалиста</li>
                            <li class="qna__card__list__item">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                            <li class="qna__card__list__item">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                            <li class="qna__card__list__item">Адекватные цены тарифов</li>
                        </ul>
                    </div>
                </div>
                <div class="qna__card animate__animated animate__fadeIn wow">
                    <div class="qna__card__title">
                        <h3>Почему тильда</h3>
                        <img src="{% static 'main/icons/plus.svg' %}" alt="Закрыть" class="qna__card__button">
                    </div>
                    <div class="qna__card__text">
                        <p>Тильда уже давно перестала быть просто конструктором. Сейчас на 
                            платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.<br>
                            <br>
                            А еще:</p>
                        <ul class="qna__card__list">
                            <li class="qna__card__list__item">Не нужен программист, тильдой легко управлять</li>
                            <li class="qna__card__list__item">Можно менять контент самому без помощи специалиста</li>
                            <li class="qna__card__list__item">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                            <li class="qna__card__list__item">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                            <li class="qna__card__list__item">Адекватные цены тарифов</li>
                        </ul>
                    </div>
                </div>
                <div class="qna__card animate__animated animate__fadeIn wow">
                    <div class="qna__card__title">
                        <h3>Какие сроки?</h3>
                        <img src="{% static 'main/icons/plus.svg' %}" alt="Подробнее" class="qna__card__button">
                    </div>
                    <div class="qna__card__text">
                        <p>Тильда уже давно перестала быть просто конструктором. Сейчас на 
                            платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.<br>
                            <br>
                            А еще:</p>
                        <ul class="qna__card__list">
                            <li class="qna__card__list__item">Не нужен программист, тильдой легко управлять</li>
                            <li class="qna__card__list__item">Можно менять контент самому без помощи специалиста</li>
                            <li class="qna__card__list__item">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                            <li class="qna__card__list__item">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                            <li class="qna__card__list__item">Адекватные цены тарифов</li>
                        </ul>
                    </div>
                </div>
                <div class="qna__card animate__animated animate__fadeIn wow">
                    <div class="qna__card__title">
                        <h3>Как происходит оплата?</h3>
                        <img src="{% static 'main/icons/plus.svg' %}" alt="Подробнее" class="qna__card__button">
                    </div>
                    <div class="qna__card__text">
                        <p>Тильда уже давно перестала быть просто конструктором. Сейчас на 
                            платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.<br>
                            <br>
                            А еще:</p>
                        <ul class="qna__card__list">
                            <li class="qna__card__list__item">Не нужен программист, тильдой легко управлять</li>
                            <li class="qna__card__list__item">Можно менять контент самому без помощи специалиста</li>
                            <li class="qna__card__list__item">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                            <li class="qna__card__list__item">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                            <li class="qna__card__list__item">Адекватные цены тарифов</li>
                        </ul>
                    </div>
                </div>
                <div class="qna__card animate__animated animate__fadeIn wow">
                    <div class="qna__card__title">
                        <h3>Сколько правок можно внести?</h3>
                        <img src="{% static 'main/icons/plus.svg' %}" alt="Подробнее" class="qna__card__button">
                    </div>
                    <div class="qna__card__text">
                        <p>Тильда уже давно перестала быть просто конструктором. Сейчас на 
                            платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.<br>
                            <br>
                            А еще:</p>
                        <ul class="qna__card__list">
                            <li class="qna__card__list__item">Не нужен программист, тильдой легко управлять</li>
                            <li class="qna__card__list__item">Можно менять контент самому без помощи специалиста</li>
                            <li class="qna__card__list__item">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                            <li class="qna__card__list__item">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                            <li class="qna__card__list__item">Адекватные цены тарифов</li>
                        </ul>
                    </div>
                </div>
                <div class="qna__card animate__animated animate__fadeIn wow">
                    <div class="qna__card__title">
                        <h3>Работаете со срочными проектами?</h3>
                        <img src="{% static 'main/icons/plus.svg' %}" alt="Подробнее" class="qna__card__button">
                    </div>
                    <div class="qna__card__text">
                        <p>Тильда уже давно перестала быть просто конструктором. Сейчас на 
                            платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.<br>
                            <br>
                            А еще:</p>
                        <ul class="qna__card__list">
                            <li class="qna__card__list__item">Не нужен программист, тильдой легко управлять</li>
                            <li class="qna__card__list__item">Можно менять контент самому без помощи специалиста</li>
                            <li class="qna__card__list__item">Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                            <li class="qna__card__list__item">Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                            <li class="qna__card__list__item">Адекватные цены тарифов</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback">
        <a name="contacts"></a>
        <div class="container">
            <h2 class="title feedback__title animate__animated animate__flipInX wow">Оставьте заявку</h2>
            <p class="feedback__text animate__animated animate__flipInX wow">Я сам напишу вам, и сообщу все детали</p>
            <div class="icon feedback__icon_lightning animate__animated animate__zoomIn wow">
                <img src="{% static 'main/icons/lightning.svg' %}" alt="Молния">
            </div>
            <div class="icon feedback__icon_programmer animate__animated animate__zoomIn wow">
                <img src="{% static 'main/icons/programmer.svg' %}" alt="Программист">
            </div>
            <div class="icon feedback__icon_message animate__animated animate__zoomIn wow">
                <img src="{% static 'main/icons/message.svg' %}" alt="Сообщение">
            </div>
            <div class="feedback__form-container">
                <form method="post" class="feedback__form animate__animated animate__fadeIn wow">
                    {% csrf_token %}
                    {{ response_form.name }}
                    {{ response_form.email }}
                    {{ response_form.project }}
                    {{ response_form.comment }}
                    <button type="submit" name="response_button" class="button feedback__form__button">Отправить сообщение</button>
                </form>
                <div class="feedback__social animate__animated animate__fadeIn wow">
                    <a href="https://t.me/artyom_bor1sov"><img src="{% static 'main/icons/telegram.svg' %}" alt="Телеграмм"></a>
                    <a href="https://vk.me/artyom_bor1sov"><img src="{% static 'main/icons/vk.svg' %}" alt="ВКонтакте"></a>
                    <a href="https://www.instagram.com/artyom_bor1sov"><img src="{% static 'main/icons/instagram.svg' %}" alt="Инстаграм"></a>
                </div>
            </div>
        </div>
    </section>

    <script src="{%static 'main/js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>

    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>