$prime_dark_color: #181818

@font-face
    font-family: "Raleway"
    src: url("../fonts/Raleway-Regular.ttf")
    font-style: normal
    font-weight: 400
@font-face
    font-family: "Raleway"
    src: url("../fonts/Raleway-Medium.ttf")
    font-style: normal
    font-weight: 500
@font-face
    font-family: "Raleway"
    src: url("../fonts/Raleway-SemiBold.ttf")
    font-style: normal
    font-weight: 600

*
    box-sizing: border-box
    
html
    scroll-behavior: smooth

body
    margin: 0

    font-family: "Raleway"
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 24px

    color: $prime_dark_color

a
    text-decoration: none
    color: $prime_dark_color

.button
    font-family: "Raleway"
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 24px

    background: none
    color: $prime_dark_color
    border: 2px solid $prime_dark_color
    border-radius: 8px

    cursor: pointer

    transition-duration: 2s

    &:hover
        color: #FFFFFF
        background: #444444
        border: 1px solid #444444
        

select
    display: block

    width: 100%
    height: 48px
    margin-bottom: 24px
    padding: 12px 16px

    font-family: "Raleway"
    font-style: normal
    font-weight: 500
    font-size: 16px
    line-height: 24px

    border: 1px solid #CCCCCC
    border-radius: 8px

    color: #808080

    appearance: none
    background: url("../icons/arrow.svg") no-repeat
    background-position: top 20px right 18px

    cursor: pointer

option
    color: $prime_dark_color

.container
    width: 80%
    max-width: 1200px
    margin: 0 auto

.icon
    position: absolute

    display: flex
    justify-content: center
    align-items: center

    background: #F1F1F1
    border-radius: 1000px

    img
        transition-duration: 1.5s

        &:hover
            transform: rotate(360deg)

h1
    font-weight: 600
    font-size: 64px
    line-height: 64px
    letter-spacing: -0.02em

    text-align: center

h2
    font-weight: 600
    font-size: 48px
    line-height: 64px
    letter-spacing: -0.02em

    text-align: center

header
    padding: 60px 0

    .container
        position: relative

        .header__nav
            display: grid
            grid-template-columns: 113px 1fr 113px
            justify-items: center
            align-items: center

            width: 100%
            margin-bottom: 120px

            .header__logo
                padding: 4px 8px
                border: 2px solid $prime_dark_color
                border-radius: 8px

                font-weight: 600
                text-transform: uppercase

                transition-duration: 1s

                &:hover
                    transform: scale(1.1)

            nav
                display: flex
                justify-content: center
                gap: 32px

                font-weight: 500

                a
                    display: block

                    transition-duration: 1s

                    &:hover
                        transform: scale(1.2)
        
        .header__icon_programmer
            width: 170px
            height: 170px
            top: 0
            right: 0

            img
                width: 110px
                height: 110px
        
        .header__title
            margin: 0 auto

        .header__text
            width: 484px
            margin: 40px auto 120px

            text-align: center

        .header__icon_message
            width: 64px
            height: 64px
            bottom: 100px
            left: 0

            img
                width: 28px
                height: 24px

        .header__icon_lightning
            width: 100px
            height: 100px
            right: 0
            bottom: 50px

            img
                width: 40px
                height: 40px

        .header__links
            display: flex
            justify-content: center
            gap: 8px

            margin: 0 auto

            .header__link
                display: flex
                justify-content: center
                align-items: center

                width: 215px
                height: 56px
                border: 2px solid $prime_dark_color
                border-radius: 8px

                font-weight: 600

                transition-duration: 1s

                &:hover
                    transform: scale(1.05)

                &.header__link_telegram
                    background: $prime_dark_color
                    color: #FFFFFF
                
                &.header__link_portfolio
                    gap: 12px

                    img
                        width: 24px
                        height: 24px
.projects
    padding: 60px 0

    .projects__nav
        display: flex
        justify-content: center
        gap: 17px

        margin-bottom: 40px

        font-weight: 600

        .projects__nav__button
            padding: 4px 16px

            border: 1px solid $prime_dark_color
            border-radius: 1000px

            &.projects__nav__button_active
                background: $prime_dark_color
                color: #FFFFFF

            &:hover
                color: #FFFFFF
                background: #444444
                border: 1px solid #444444
    
    .projects__gallery
        display: grid
        grid-template-areas: "strizhi strizhi" "watchman ermitazh" "neptune neptune" "statistics furniture"
        gap: 40px

        a
            transition-duration: 1s

            &:hover
                transform: scale(1.1)

            &:nth-child(1)
                grid-area: strizhi

            &:nth-child(2)
                grid-area: watchman

            &:nth-child(3)
                grid-area: ermitazh

            &:nth-child(4)
                grid-area: neptune
            
            &:nth-child(5)
                grid-area: statistics

            &:nth-child(6)
                grid-area: furniture
        
        img
            width: 100%
            border: 1px solid #dbdbdb
            border-radius: 20px

.about-me
    padding: 60px 0 120px

    .container
        display: flex
        justify-content: center
        align-items: center
        gap: 40px

        position: relative

        .about-me__icon
            width: 100px
            height: 100px
            bottom: -25px
            left: 100px

            img
                width: 40px
                height: 40px

        .about-me__image
            width: 400px

            border-radius: 24px

            transition-duration: 1s

            &:hover
                border-radius: 80px

        .about-me__info
            width: 425px

        .about-me__title
            margin: 0 0 24px
            text-align: left

        .about-me__text
            margin-bottom: 64px

        .about-me__list
            display: flex
            gap: 64px

        .about-me__list__item__title
            margin: 0 0 16px

            font-weight: 600
            font-size: 24px

.services
    padding: 120px 0
    
    background: $prime_dark_color

    .services__title
        margin: 0 0 80px

        color: #FFFFFF

    .services__cards
        display: flex
        justify-content: center
        gap: 40px
        flex-wrap: wrap

        &.services__cards_two-columns
            display: grid
            grid-template-columns: repeat(2, 1fr)
            justify-items: center

        .services__card
            display: flex
            flex-direction: column
            justify-content: space-between

            width: 350px
            padding: 40px

            box-sizing: border-box

            background: #FFFFFF
            color: $prime_dark_color
            border-radius: 16px

            .services__card__number
                margin: 0 0 8px

                font-weight: 500
                font-size: 12px

                opacity: 0.5

            .services__card__title
                margin: 8px 0 16px

                font-weight: 600
                font-size: 20px

            .services__card__text
                margin: 16px 0 0

            .services__card__line
                width: 80px
                height: 2px
                margin: 56px 0

                background: $prime_dark_color
                opacity: 0.2

            .services__card__price
                margin: 56px 0 0

                font-weight: 600
                font-size: 24px
.price
    padding: 120px 0

    .container
        position: relative
        
        .price__title
            margin: 0 0 80px

            text-align: center

            color: $prime_dark_color
        
        .price__icon_clock
            width: 100px
            height: 100px
            top: 100px
            left: 0

            img
                width: 40px
                height: 40px
        .price__icon_programmer
            width: 170px
            height: 170px
            top: 250px
            right: 0

            img
                width: 110px
                height: 110px

        .price__form
            width: 448px
            margin: 0 auto
            padding: 40px 24px
            box-sizing: border-box

            border: 1px solid #CCCCCC
            border-radius: 16px

            .price__form__checkbox
                display: block
                position: relative
                padding-left: 35px
                margin-bottom: 40px

                cursor: pointer
                
                &:hover

                    .checkmark
                        border-color: #69CB39

                input
                    position: absolute
                    opacity: 0
                    width: 0
                    height: 0

                    &:checked
                        
                        ~.checkmark
                            background-color: $prime_dark_color
                            border-color: $prime_dark_color  

                            &::after
                                display: block     

                .checkmark
                    position: absolute
                    top: 0
                    left: 0
                    width: 16px
                    height: 16px
                    border: 1px solid #808080
                    border-radius: 4px

                    &::after
                        content: ""
                        position: absolute
                        display: none

                        left: 4px
                        top: 1px
                        width: 4px
                        height: 7px

                        border: solid #FFFFFF
                        border-width: 0 2px 2px 0
                        transform: rotate(45deg)
            
            .price__form__button
                width: 100%
                height: 56px
                padding: 15px 24px 17px
        
        .price__result
            width: 400px
            max-height: 0
            margin: 0 auto
            padding: 40px 24px

            border: 1px solid #CCCCCC
            border-radius: 0px 0px 16px 16px

            overflow: hidden

            opacity: 0

            transition-duration: 2s

            &.price__result_active
                max-height: 1000px

                opacity: 1           

            .price__result__title
                margin: 0 0 24px

                font-size: 32px

            .price__result__parameter
                margin: 24px 0

                .price__reult__parameter__title
                    margin: 0

                .price__result__parameter__value
                    margin: 0

                    font-weight: 600
                    font-size: 20px
            
            .price__result__button
                display: flex
                justify-content: center
                align-items: center
                
                width: 100%
                height: 56px

                background: $prime_dark_color
                color: #FFFFFF

                &:hover
                    background: #444444

.qna
    padding: 120px 0
    background: $prime_dark_color

    .qna__title
        margin: 0 0 80px

        color: #FFFFFF

    .qna__cards
        display: grid
        gap: 16px

        .qna__card
            padding: 32px 40px

            background: #FFFFFF

            border: 1px solid $prime_dark_color
            border-radius: 16px

            cursor: pointer

            .qna__card__title
                display: flex
                justify-content: space-between
                align-items: center

                h3
                    font-weight: 600
                    font-size: 20px
                    line-height: 24px

            .qna__card__button
                width: 16px
                height: 16px

                transition-duration: 0.5s

                &.qna__card__button_opened
                    transform: rotate(45deg)

            .qna__card__text
                max-height: 0
                margin-top: 0

                overflow: hidden

                transition-duration: 0.5s

                &.qna__card__text_opened
                    max-height: 1000px
                    margin-top: 24px

                    transition-duration: 3s

            .qna__card__list
                margin: 0
                padding: 0

                .qna__card__list__item
                    margin-left: 30px

.feedback
    padding: 120px 0 160px

    .container
        position: relative
        display: flex
        flex-direction: column
        align-items: center

        .feedback__title
            margin: 0 0 8px
        
        .feedback__text
            margin: 0 0 80px

            text-align: center
            font-weight: 600
            font-size: 20px

        .feedback__icon_lightning
            width: 100px
            height: 100px
            top: 0
            left: 0

            img
                width: 40px
                height: 40px
        
        .feedback__icon_programmer
            width: 170px
            height: 170px
            right: 0
            bottom: 200px

            img
                width: 110px
                height: 110px
        
        .feedback__icon_message
            width: 140px
            height: 140px
            bottom: 50px
            left: 0

            img
                width: 56px
                height: 48px
        
        .feedback__form-container
            display: grid
            grid-template-columns: 30px 1fr 30px
            justify-items: center
            gap: 40px

            .feedback__form
                grid-column: 2

                width: 448px
                padding: 40px 24px
                box-sizing: border-box

                border: 1px solid #CCCCCC
                border-radius: 16px

                input
                    display: block
                    width: 100%
                    margin-bottom: 24px
                    padding: 12px 16px
                    box-sizing: border-box

                    font-weight: 500
                    font-size: 16px
                    line-height: 24px

                    border: 1px solid #CCCCCC
                    border-radius: 8px

                textarea
                    display: block
                    width: 100%
                    height: 160px
                    margin-bottom: 40px
                    padding: 12px 16px
                    box-sizing: border-box
                    resize: none

                    font-family: "Raleway"
                    font-style: normal
                    font-weight: 500
                    font-size: 16px
                    line-height: 24px

                    border: 1px solid #CCCCCC
                    border-radius: 8px

                .feedback__form__button
                    display: flex
                    justify-content: center
                    align-items: center
                    
                    width: 100%
                    height: 56px

                    background: $prime_dark_color
                    color: #FFFFFF

                    &:hover
                        background: #444444

            .feedback__social
                display: flex
                flex-direction: column
                align-items: center
                gap: 16px

                img
                    width: 30px

                    transition-duration: 1s

                    &:hover
                        transform: scale(1.5)

@media (max-width: 1200px)
    h1
        font-size: 48px

    h2
        font-size: 32px
        line-height: 32px

    .icon
        transform: scale(0.75)

    .about-me

        .container

            .about-me__icon
                left: 0

    .services

        .container

            .services__cards
                gap: 15px

                .services__card
                    padding: 20px
    
@media (max-width: 992px)
    .container
        width: 90%

    h1
        font-size: 32px
        line-height: 32px

    .icon
        display: none

    header
        padding: 30px 0

        .container

            .header__nav
                display: flex
                flex-direction: column
                align-items: center
                gap: 20px

                margin-bottom: 30px

            .header__text
                margin-bottom: 45px
    
    .projects
        padding: 30px 0
    
    .about-me
        padding: 30px 0

        .container
            flex-direction: column-reverse

            .about-me__image
                width: 70%

            .about-me__info
                width: 70%

                .about-me__title
                    font-size: 24px
                    line-height: 24px

                .about-me__text
                    margin-bottom: 32px
    
    .services
        padding: 30px 0

        .container
            
            .services__title
                margin-bottom: 30px

            .services__cards
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

                .services__card
                    padding: 40px
    
    .price
        padding: 30px 0

        .container

            .price__title
                margin-bottom: 30px

    .qna
        padding: 30px 0

        .container

            .qna__title
                margin-bottom: 30px

            .qna__cards

                .qna__card
                    padding: 16px 20px

    .feedback
        padding: 30px 0

        .container

            .feedback__text
                margin-bottom: 30px

            .feedback__form-container
                display: flex
                flex-direction: column

                .feedback__social
                    flex-direction: row
                    justify-content: space-around
        
        


            

@media (max-width: 576px)
    .container
        width: 95%

    header

        .container

            .header__nav

                .header__logo
                    font-size: 12px
                    line-height: 16px

                nav
                    align-items: center
                    gap: 15px
                    
                    font-size: 12px

            .header__text
                width: 300px

            .header__links
                flex-direction: column
                align-items: center

    .projects

        .container

            .projects__nav
                flex-direction: column

            .projects__gallery
                display: flex
                flex-direction: column
                gap: 20px

    .services

        .container

            .services__cards
                flex-direction: column
                justify-content: center
                align-items: center

                .services__card
                    width: 100%

    .price

        .container

            .price__form
                width: 100%

            .price__result
                width: 90%

    .feedback

        .container

            .feedback__form-container
                width: 100%

                .feedback__form
                    width: 100%